# Python
venv/
__pycache__/
*.pyc
*.sqlite3
.env
.env.*
*.log

# Django
staticfiles/
media/
db.sqlite3

# Frontend
node_modules/
chatsql-frontend/dist/
chatsql-frontend/.vite/
npm-debug.log*
yarn-debug.log*

# IDE
.DS_Store
.vscode/
.idea/
*.swp

# Testing
coverage/
.pytest_cache/